.logo
  a(href='index.html')
    img(src='img/logo.png', title='Magnetic', alt='Magnetic')
// end logo
#menu_icon
nav
  ul
    each value in menu
      li: a(href='#{value.url}') #{value.title}
.footer.clearfix
  ul.social.clearfix
    each value in sociallink
      li: a(class='#{value.class}', href='#{value.url}', data-title='#{value.title}')
    
  .rights
    p Copyright © 2014 magnetic.
    p
      | Template by 
      a(href='') Pixelhint.com
